<html>
  <head>
    <style>
      body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 20px; background-color: #f4f4f4; } h1 { color: #333; font-size:
      24px; text-align: center; } hr { border: 1px solid #ddd; margin-top: 20px;
      margin-bottom: 20px; } p { margin-bottom: 10px; font-size: 16px; } strong
      { color: #333; }
    </style>
  </head>
  <body>
    <h1>Invoice</h1>
    <hr />
    <p><strong>Total Amount:</strong> ${{totalAmount}}</p>
    <p><strong>Payment Status:</strong> {{paymentStatus}}</p>
  </body>
</html>